body{
    font-family: 'STIX Two Math', serif;
}
h1{
    font-size: 25px;
    
}
.pink-color{
    color:fuchsia;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
}
.half-width img{
    width:55%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( rgb(221, 145, 221), fuchsia);
    padding: 10px 25px;
    color:white;
    font-weight: 700;
    border-radius: 18px;
    margin-top:30px;
}
.About-Me{
    background-image: url(images/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-position: 10%;
}
h2{
    text-align: center;
}
.text-align{
    text-align: center;
}
.treble-width img{
    width: 250px;
    border-radius: 10px;
    padding-left: 5px;
}
.treble-width{
    width: 30%;
    margin: 5%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px  30px  rgb(207, 207, 219);
}
#font-size{
    font-weight: 700;
}
.Maroon-color{
    color:rgb(238, 41, 179);
}
footer{
    text-align: center;
    background-color: rgb(177, 177, 224);
    padding: 25px  100px;
}

